*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #ff4500;
  --secondary-color: #6fca53;
  --tertiary-color: #3B5998;
  --quaternary-color: #125688;
  --quinary-color: #bb0000;
  --senary-color: #55ACEE;
  --white: #ffffff;
  --black: #000000;
  --gray: #808080;
}
body{
  font-family:verdana, sans-serif;
  margin:0;
  background-color: var(--gray);
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white);
  padding: 20px;
  font-size: 1em;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  
}
.nav-links  a{
  text-decoration: none;
  color: var(--black);
  padding: 10px 20px;
  margin: 0 10px;
}
.logo a{
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
font-weight: bold;
position: absolute;
top: 0;
left: 20px;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1.1em;
}
 